body{
  text-align: center;
  margin: auto;
  float: center;
  vertical-align: middle;
  background-color: #222226;
  color: #0c4;
  font-size: 120%;
}
#file {
  position: absolute;
  right: var(--VposX);
  top: var(--VposY);
  border-radius: 10px;
  width: var(--width);
  height: var(--height);
  }
#filelist_button{
  position: absolute;
  left: var(--LposX);
  bottom: var(--LposY);
  width: 250px;
  height: 110px;
  padding: 12px 20px;
  text-align: center;
  border-radius: 35px;
  border-width: 0.1em;
  font-weight: bold;
  background-color: #333337;
  border-color: #333337;
  color: #0d4;
  font-weight: bold;
  font-size: 200%;
}
#file_button{
  width: 600px;
  padding: 24px 20px;
  text-align: center;
  border-radius: 35px;
  border-width: 0.1em;
  font-weight: bold;
  background-color: #333337;
  border-color: #333337;
  color: #0080ff;
  font-weight: bold;
  font-size: 65%;
}
#file_list{
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  font-size: 250%;
  font-weight: bold;
}
#copy_button{
  width: 65px;
  height: 65px;
  text-align: center;
  border-radius: 20px;
  border-width: 0.1em;
  background-color: transparent;
  border-color: #333337;
  color: #008000;
  position: relative;
  left:-1em;
  top:3px;
}
#copy_icon{
  font-size: 30px;
  transform: translate(5%,5%);
}
